.exp--container {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100vh;
  margin-top: -150px;
  margin-left: 160px;
}

.company-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 170px;
}

.company {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.company img {
  width: 60px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px #292929;
  padding: 3px;
}

.company-details {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-left: 45px;
  margin-top: 15px;
}

.company-details h3 {
  color: #292929;
}

.company-details-p {
  color: #6666668d;
  font-weight: 550;
}

.tab-dates {
  font-size: 0.9rem;
  color: #404040;
  font-weight: 600;
  margin-bottom: 10px;
}

.tab-paragraph {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.verticle--line {
  width: 12px;
  height: 180px;
  background-color: #292929;
  margin-top: 80px;
  margin-left: -35px;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.company-details-visible {
  opacity: 1;
  transform: translateY(0);
}

.verticle--line-visible {
  opacity: 1;
  transform: scaleY(1);
}

@media only screen and (max-width: 568px) {
  .exp--container {
    margin-top: -150px;
    margin-left: 40px;
  }

  .company-section {
    width: 92%;
    margin-top: 170px;
  }

  .company img {
    margin-top: 10px;
    margin-left: -10px;
  }

  .verticle--line {
    width: 12px;
    height: 310px;
    margin-top: 95px;
  }
  .company-section .tab-paragraph {
    font-size: clamp(14px, 2vw, 18px);
    text-align: unset;
  }
}
